* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    flex-direction: column;
    display: flex;
    justify-items: center;
    min-height: 100vh;
    font-family: "Inter", sans-serif;
}

.menu {
    width: 100%;
    height: 100px;
    background-color: rgb(255, 233, 255);
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.menu h1 {
    font-size: 30px;
    color: rgb(160, 73, 160);
}

.top {
    display: flex;
    flex-direction: row;
    gap: 35px;
}

.top a {
    color: rgb(87, 48, 87);
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 15px;
}

#sobre-mim {
    width: 100%;
    height: 500px;
    background-color: rgb(238, 209, 238);
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.sobre h1 {
    color: rgb(87, 48, 87);
    font-style: italic;
}

.sobre img {
    width: 300px;
    border-radius: 10px;
    border: 3px solid rgb(255, 255, 255);
}

.infos {
    width: 500px;
    gap: 30px;
    display: flex;
    flex-direction: column;
}

.habilidades {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.habilidades h2 {
    color: rgb(133, 89, 133);
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

menu {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

menu h3{
    color: rgb(214, 157, 214);
}