* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    flex-direction: column;
    display: flex;
    justify-items: center;
    min-height: 100vh;
    font-family: "Inter", sans-serif;
}

.menu {
    width: 100%;
    height: 100px;
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.menu h1 {
    font-size: 30px;
    color: rgb(160, 73, 160);
}

.top {
    display: flex;
    flex-direction: row;
    gap: 35px;
}

.top a {
    color: rgb(87, 48, 87);
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 15px;
}

.sobre-mim {
    width: 100%;
    height: 500px;
    background-color: rgb(238, 209, 238);
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.sobre h1 {
    color: rgb(87, 48, 87);
    font-style: italic;
}

.sobre img {
    width: 300px;
    border-radius: 10px;
    border: 3px solid rgb(255, 255, 255);
}

.infos {
    width: 500px;
    gap: 30px;
    display: flex;
    flex-direction: column;
}

.habilidades {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.habilidades h2 {
    color: rgb(133, 89, 133);
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

menu {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

menu h3{
    color: rgb(214, 157, 214);
}

.projetos{
    width: 100%;
    height: 750px;
    background: linear-gradient(white, #e3a5e9);
    border: 5px solid #e3a5e9;
}

.projetos h1{
    color: rgb(133, 89, 133);
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.cards{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 50px;
}

.card{
    width: 400px;
    height: 550px;
    border: 5px solid white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding-top: 20px;
    transition: transform 0.5s ease;
}

.card:hover {
    transform: scale(1.1);
}

.card img{
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.068);
}

.card h2{
    color: rgb(133, 89, 133);
    display: flex;
    justify-content: center;
}

.card p {
    font-weight: 550;
    font-size: 14px;
    color: rgb(53, 34, 53);
    padding-left: 20px;
}

.card button{
    width: 200px;
    height: 50px;
    background-color: #d86dd8;
    border-radius: 5px;
    border: 2px solid #a353a3;
    margin: 0 auto;
    display: block;
    font-weight: bold;
    font-size: 20px;
    color: #8b448b;
    transition: transform 0.5s ease;
}

.card button:hover {
    transform: scale(1.1);
}

.footer{
    width: 100%;
    height: 225px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.footer h1{
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.footer p{
    font-size: 15px;
    color: #381c38;
    font-weight: 400;
}

.contatos-social{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.contatos-social li{
    transition: transform 0.5s ease;
}

.contatos-social li:hover {
    transform: scale(1.5);
}

.copy-right{
    width: 100%;
    height: 50px;
    background-color: rgb(238, 209, 238);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.copy-right h3{
    font-size: 15px;
    font-style: italic;
    color: #d86dd8;
    font-weight: normal;
    color: rgb(102, 60, 105);
}

.menu2{
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-size: 15px;
    font-weight: bold;
    color: rgb(102, 60, 105);
}