*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li{
 list-style: none;
}

a{
    text-decoration: none;
}

.menu{
    width: 120px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}