*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li{
 list-style: none;
}

a{
    text-decoration: none;
}

header{
    justify-content: center;
    align-items: center;
}

header menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-right: 10px;
}

.top{
    background-color: blueviolet;
    width: 1440px;
    height: 100px;
    align-items: center;
    justify-content: center;
}

.sobre{
    width: 1440px;
    height: 300px;
    background-color: cadetblue;
}